<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unit Converter</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="rectangulo5">
      <div class="title1">
        <img src="/images/Icon.jpg" height="14" /> Unit Converter
      </div>
      <div class="rectangulo2">
        <div class="title2">convert</div>
        <form action="#">
          <select class="desplegable" style="background-color:#2E0039" id="conversion">
            <option value="km-to-miles">Kilómetros a millas</option>
            <option value="miles-to-km">Millas a kilómetros</option>
            <option value="feet-to-meters">Pies a metros</option>
            <option value="meters-to-feet">Metros a pies</option>
            <option value="cm-to-inches">Centímetros a pulgadas</option>
            <option value="inches-to-cm">Pulgadas a centímetros</option>
          </select>
          <div class="rectangulo1">
            <div class="d-grid">
                <button class="boton" type="submit" class="btn btn-primary">
                    <img src="/images/Flechas.png" style="background-color: #2E0039;">
                </button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </body>
</html>
